<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Internal Server Error</title>
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="{{ STATIC_URL }}main/css/main.css" rel="stylesheet" type="text/css">
    <body>
        <div class="container">
          <div class="header">
            <h1>Internal Server Error</h1>
            <div>
            </div>
          </div>

          <div class="content">
            <div class="content-inner">
	    <p>Sorry. Looks like some gerbil chewed through one of the wires. </p>
            </div>
          </div>

          <div class="footer">
          </div>

        </div>

    </body>
</html>
