{% extends 'main/base.html' %}
{% block extra_head %}
<style type="text/css">
.content-inner img.mug {
    float: right;
    margin: 0 80px 80px 80px;
}
</style>
{% endblock %}
{% block content %}

<h2>About</h2>

<img class="mug" src="{{ STATIC_URL }}/main/images/stephanie.jpg" alt="Stephanie Kearly Müller">

<p>
Stephanie Kearley Müller is an artist from Louisiana, USA, living in
Germany. Having acquired a Bachelor of Fine Arts Degree from Louisiana
Tech University in 2008, she continues to produce artwork while
pursuing a Master's degree at the Pädagogische Hochschule in
Karlsruhe.
</p>

<p>
As a child she was raised in a strict Protestant household but was
greatly influenced by the colorful and unique Louisiana lifestyle. In
2008, she moved to China, which is where she met her Russian husband,
and in 2010, she moved to Germany, learned the language and continued
her education.
</p>

<p>
This mixed background inspires her artwork, which primarily consists
of figurative oil paintings that express her exploration of culture,
spirituality, and innocence. Full of rich colors and patterns, her
paintings illustrate the collision of worlds that she experiences
everyday and are her way of trying to figure out where she belongs in
a world that is much more complex than she originally thought.
</p>

{% endblock %}
