{% extends 'main/base.html' %}
{% load thumbnail %}
{% load extra_tags %}

{% block title %}{{ artwork.title }} - {{ block.super }}{% endblock %}

{% block extra_head %}
  <meta property="og:title" content="{{ artwork.title }} - {{ PROJECT_TITLE }}">
  {% thumbnail artwork.picture "300x300" crop="center" as thumb %}
  <!-- make sure this is the absolute URL to the CDN -->
  <meta property="og:image" content="{{ thumb.url | static_url }}">
  <meta property="og:image:width" content="{{ thumb.width }}">
  <meta property="og:image:height" content="{{ thumb.height }}">
  {% endthumbnail %}
  <meta property="og:url" content="{{ full_url }}">
  <style type="text/css">
  /*p.date { float: right; margin-right: 0px; margin-bottom: 20px; font-size: 20px;color: #999}*/
  p.date { color: #999; font-weight: bold; }
  h2 {  }
  p.picture { text-align: center; position: relative; }
  p.picture img {
  }
  p.description, p.material, p.size, p.commission {
    padding-right: 300px;
  }

  @media only screen and (min-device-width: 320px) {
    p.description, p.material, p.size, p.commission {
      padding-right: 0;
    }
  }

  #zen {
    float: right;
    position: absolute;
    right: 0;
    background:#fff;
    opacity: 0;
    height: 40px;
    width: 40px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    text-transform: lowercase;
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    background: url('{{ STATIC_URL }}main/images/expand.png') no-repeat 8px 8px #fff;
    text-indent: -3000em;
    border-radius: 0 0 0 5px;
  }

  p.picture:hover #zen {
    opacity: 0.4;
  }

  p.picture #zen:hover {
    opacity: 0.6;
    text-decoration: none;
  }
  </style>

{% endblock %}

{% block extrajs %}
  <script type="text/javascript">
    $('#zen').bind('click', function() {

        $('body').append('<div id="overlay"><div id="overlay-back"></div><div id="overlay-inner"></div></div>');
        var thisImg = $('p.picture img');
        $('#overlay-inner').append($('p.picture').html());
        $('#overlay #zen').fadeOut();
        $('#overlay-inner').css({
            'height': thisImg.attr('height'),
            'width': thisImg.attr('width'),
        });
        $('#overlay').fadeIn(300);

        $('#overlay-back').click(hideOverlay);
        return false;
    });

    function hideOverlay(e) {
      $('#overlay').fadeOut(400).delay(400).queue( function() {
            $('#overlay').remove();
      });
      e.stopPropagation();
    }
  </script>
{% endblock %}

{% block content %}

  {% thumbnail artwork.picture "1000x600" as big %}
  <p class="picture">
    <a href="" id="zen" title="Click to go Zen">Zen</a>
    <img src="{{ big.url | static_url }}" width="{{ big.width }}" height="{{ big.height }}" alt="{{ artwork.title }}">
  </p>
  {% endthumbnail %}
  <h2>{{ artwork.title }}</h2>

  {% if artwork.created %}
  <p class="date">{{ artwork.created }}</p>
  {% endif %}

  {% if artwork.description %}
  <p class="description"><strong>Description.</strong> {{ artwork.description }}</p>
  {% endif %}

  {% if artwork.material %}
  <p class="material"><strong>Material.</strong> {{ artwork.material }}</p>
  {% endif %}

  {% if artwork.size %}
  <p class="size"><strong>Size.</strong> {{ artwork.size|show_size }}</p>
  {% endif %}

  {% if artwork.commission %}
  <p class="commission"><strong>Commission?</strong> <strong>Yes</strong>
  {% if artwork.commission_notes %}{{ artwork.commission_notes }}{% endif %}
  </p>
  {% endif %}

{% endblock %}
