{% extends 'main/base.html' %}
{% load thumbnail %}
{% load extra_tags %}

{% block title %}{{ artwork.title }} - {{ block.super }}{% endblock %}

{% block extra_head %}
  <meta property="og:title" content="{{ artwork.title }} - {{ PROJECT_TITLE }}">
  {% thumbnail artwork.picture "200x200" crop="center" as thumb %}
  <!-- make sure this is the absolute URL to the CDN -->
  <meta property="og:image" content="{{ thumb.url }}">
  {% endthumbnail %}
  <meta property="og:url" content="{{ full_url }}">
  <style type="text/css">
  /*p.date { float: right; margin-right: 0px; margin-bottom: 20px; font-size: 20px;color: #999}*/
  span.date { padding-left: 20px; color: #999; font-size:70%; }
  h2 { float: left; }
  p.picture { text-align: center; }
  p.picture img {
  }


  p.description, p.material, p.size, p.commission {
    padding-right: 300px;
  }
  </style>
{% endblock %}

{% block content %}

  {% thumbnail artwork.picture "1000x600" as big %}
  <p class="picture">
    <img src="{{ big.url }}" width="{{ big.width }}" height="{{ big.height }}" alt="{{ artwork.title }}">
  </p>
  {% endthumbnail %}
  <h2>{{ artwork.title }}

  {% if artwork.created %}
  <span class="date">{{ artwork.created }}</span>
  {% endif %}
  </h2>
  <br style="clear:both">

  {% if artwork.description %}
  <p class="description"><strong>Description.</strong> {{ artwork.description }}</p>
  {% endif %}

  {% if artwork.material %}
  <p class="material"><strong>Material.</strong> {{ artwork.material }}</p>
  {% endif %}

  {% if artwork.size %}
  <p class="size"><strong>Size.</strong> {{ artwork.size|show_size }}</p>
  {% endif %}

  {% if artwork.commission %}
  <p class="commission"><strong>Commission?</strong> <strong>Yes</strong>
  {% if artwork.commission_notes %}{{ artwork.commission_notes }}{% endif %}
  </p>
  {% endif %}

{% endblock %}
