{% extends 'main/base.html' %}

{% load bootstrap %}

{% block extra_head %}
<style type="text/css">

label {
  margin-bottom: 2px;   
}

input, textarea {
  border: 1px solid #e1e1e1;
  padding: 5px;   
  width: 400px;
  margin-bottom: 10px;
}

input:focus, textarea:focus {
  border-color: #81b98e;
  box-shadow: inset 0 1px 2px #c2e2c9;   
}

.control-group {
  float: left;
  margin: 0 0 10px 0;
  width: 100%;   
}

.intro {
 padding-right: 150px;
 margin-bottom: 20px;
}

form {
  float: left;
  width: 500px;   
}

</style>
{% endblock %}

{% block content %}

<h2>Contact</h2>

{% if sent %}
  <div class="alert alert-block">
    <!--<button type="button" class="close" data-dismiss="alert">&times;</button>-->
    <h4>Message sent!</h4>
    <p>Thank you!</p>
  </div>
{% endif %}

<div class="intro">
    <p>Use this form to get in touch with me - I'm available for all types of commissions, or to discuss sales of any works. Or maybe you just want to chat.</p>
</div>

<form action="" method="post">{% csrf_token %}
{{ form|bootstrap }}
<div>
  <button type="submit" class="btn btn-primary">Submit</button>
</div>
</form>

{% endblock %}
