body {
    margin: 0;
    background: url('/static/main/images/dimension.png') repeat top left rgb(234, 233, 230);
}

.container {
    width: 66%;
    padding: 2% 3%;
    max-width: 1000px;
    margin: 0px auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 30px #999;
    min-height: 100%;
}

.header {
    width: auto;
    margin: 0px 0px;
    border-bottom: 1px dashed #e1e1e1;
}

.header h1 {
  margin: 0 0 10px 0;   
  width: 100%;
  text-align: center;
  font-weight: 100;
}

.content {
    margin-bottom: 14px;
    /*
    border-radius: 6px 6px 6px 6px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    */
    overflow: hidden;
}

.content-inner {
    padding: 25px 0px;
}

.footer {
    margin-top: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 0px 5px;
}

.header, .content, .footer {
    clear: left;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.header h1 a {
    color: rgb(93, 102, 84);
}
.header h1 a:hover {
    text-decoration: none;
}

.header ul {
    list-style-type: none;
    text-align: center;
    padding: 0px;
    margin: 0px 0px 30px 0px;
}

.header ul li {
    display: inline-table;
    margin: 0 15px 0 15px;
    font-weight: bold;
}

.header li a {
    text-transform: uppercase;
}

.header li a.red {
  color: #bc4242;   
}

.header li a.yellow {
  color: #bcb242;   
}

.header li a.blue {
  color: #81a5b9;   
}

.header li a.green {
  color: #81b98e;   
}

.header li a.pink {
  color: #e67bce;   
}
